---
pageable: true
per_page: 10
---
<% page_articles.each_with_index do |article, i| %>
  <article>
    <h2 class="heading">
      <%= link_to article.title, article.url %>
      <time><%= article.date.strftime('%b %e %Y') %></time>
    </h2>

    <%= article.summary %>

    <div class="read-more">
      <% link_to article do %>
        Read More <span>&rsaquo;</span>
      <% end %>
    </div>
  </article>
  <hr />
<% end %>

<% if paginate %>
  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
